{% extends "base.html" %}

{% block main %}
<h1>Viewing folder &quot;{{ folder.name }}&quot;</h1>

{% if folder.parent %}
    <a href="{% url 'folders:view' folder.parent.id %}">View parent folder</a>
{% endif %}

{% if request.user.id == folder.owner.id %}
<a href="{% url 'folders:add' folder.id %}">Add folder</a>
<a href="{% url 'characters:add' folder.id %}">Add character</a>
<a href="{% url 'folders:edit' folder.id %}">Edit</a>
<a href="{% url 'folders:delete' folder.id %}">Delete</a>

{% if delete_confirmation %}
<form action="{% url 'folders:delete' folder.id %}" method="POST">
    {% csrf_token %}
    <p>Are you sure you want to delete this folder?</p>
    {{ form }}
    <input type="submit" value="Confirm">
</form>
{% endif %}

{% if folder.private %} 
<p>This folder is <strong>private</strong></p>
{% else %} 
<p>This folder is <strong>public</strong></p>
{% endif %}
{% endif %} 

{% if folder.description %}
<p>{{ folder.description }}</p>
{% endif %}
<p>Created {{ folder.created }}</p>

<ul>
    {% for f in folder.folder_set.all|dictsort:'name' %}
    {% if f.owner.id == request.user.id or not f.private %}
    <li><a href="{% url 'folders:view' f.id %}">{{ f.name }}</a></li>
    {% endif %}
    {% endfor %}
</ul>
<section>
    <h1>Characters</h1>
    <ul>
        {% for char in folder.character_set.all|dictsort:'name' %}
        {% if char.owner.id == request.user.id or not char.private %}
        <li><a href="{% url 'characters:view' char.id %}">{{ char.name }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</section>
{% endblock %}